[submodule "tools/BEGAN-tensorflow"]
	path = tools/BEGAN-tensorflow
	url = https://github.com/carpedm20/BEGAN-tensorflow
[submodule "tools/DCGAN-tensorflow"]
	path = tools/DCGAN-tensorflow
	url = https://github.com/carpedm20/DCGAN-tensorflow
[submodule "tools/art-DCGAN"]
	path = tools/art-DCGAN
	url = https://github.com/robbiebarrat/art-DCGAN
[submodule "tools/darknet"]
	path = tools/darknet
	url = https://github.com/pjreddie/darknet
[submodule "tools/pytorch-CycleGAN-and-pix2pix"]
	path = tools/pytorch-CycleGAN-and-pix2pix
	url = https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix/
[submodule "tools/pix2pix-tensorflow"]
	path = tools/pix2pix-tensorflow
	url = https://github.com/affinelayer/pix2pix-tensorflow.git
[submodule "tools/char-rnn-tensorflow"]
	path = tools/char-rnn-tensorflow
	url = https://github.com/sherjilozair/char-rnn-tensorflow
