[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tqdm = "*"
matplotlib = "*"
numpy = "*"
opencv-python = "*"
imutils = "*"
scikit-image = "*"
dlib = "*"
Pillow = "*"
face_recognition = "*"
bs4 = "*"
lxml = "*"
jupyterlab = "*"
torch = "*"
torchvision = "*"
tensorflow-gpu = "*"

[requires]
python_version = "3.5"
