* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 1em;
    font-family: 'Helvetica', 'sans-serif';
    color: #222;
    background: #eaeaea;
}

main {
    max-width: 760px;
    margin: 0 auto;
    padding: 3em 4em;
    box-shadow: 4px 4px 0px rgba(0,0,0,0.05);
    background: #fff;
}


pre, pre + mathjax {
    width: 50%;
    padding: 1em !important;
    vertical-align: middle;
    display: inline-block !important;
}
pre + mathjax {
    width: 49%;
    font-size: 0.8em;
}
pre {
    width: 100%;
    line-height: 1.6;
}
p {
    line-height: 1.4;
    font-size: 1.2em;
}

figure {
    text-align: center;
    display: block;
    margin: 2em auto 3em auto;
}

img {
    max-width: 100%;
}
